
<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
    <%= csrf_meta_tags %> <!-- Rails CSRF protection -->
    <%= stylesheet_link_tag 'users', media: 'all' %> <!-- Include application-wide styles -->
    <%= stylesheet_link_tag 'welcome', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
</head>

  <body>
  
  <header class="heads">
  <%= image_tag 'print.png', alt: 'Print Image', class: 'imgPrint' %>
  <h1 class="hh2">ECHELON SURVEILLANCE</h1>
  
  <div class="forms">
  <a class="signUp" href="/signup">Sign Up</a>
  <a class="logIn" href="/login">Log In</a>
  </div>
  
  <nav class="topButts">
  <a class="topNames" href="/">Home</a>
  <a class="topNames" href="/about">About</a>
  <a class="topNames" href="/services">Services</a>
  <a class="topNames" href="/contact">Contact</a>
  </nav>
  
  <div class="dropdown">
  <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
  <div class="dropdown-content" id="dropdown-content">
  <ul>
  <li><a href="/" class="topDrop">Home</a></li>
  <li><a href="/contact" class="topDrop">Contact</a></li>
  <li><a href="/about" class="topDrop">About</a></li>
  <li><a href="/services" class="topDrop">Services</a></li>
  <hr>
  <li><a href="/login" class="topDrop">Log In</a></li>
  <li><a href="/signup" class="topDrop">Sign Up</a></li>
  </ul>
  </div>
  </div>
  
  <script>
  function toggleDropdown() {
    document.getElementById("dropdown-content").classList.toggle("show");
  }
  
  // Close the dropdown menu if the user clicks outside of it
  window.addEventListener("click", function(event) {
    if (!event.target.matches('.dropbtn') && !event.target.closest('.dropdown-content')) {
      var dropdownContent = document.getElementById("dropdown-content");
      if (dropdownContent.classList.contains('show')) {
        dropdownContent.classList.remove('show');
      }
    }
  });
  </script>
  
  </header>
  
  
  



  <div class="login">
    <h2 class="hader">Sign Up</h2>

    <%= form_with(model: User.new, url: "/signup", method: "post") do |f| %>
      <% if flash[:alert] %>
        <div>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div>
        <span class="icon"><i class="fa fa-user"></i></span>
        <%= f.text_field :username, required: true, placeholder: "Username",class:"formUser" %>
      </div>

      <div>
        <span class="icon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, required: true, placeholder: "Password", class: "formPass" %>
      </div>

      <div>
        <span class="icon"><i class="fa fa-check"></i></span>
        <%= f.password_field :password_confirmation, required: true, placeholder: "Re-enter Password" %>
      </div>

      <div class="action">
        <%= f.submit 'Sign Up', class: "actions"%>
      </div>

       <div>
    <a class="new" href="/login">Already Have an Account? Log In</a>
  </div>

    <% end %>
  </div>





















</body>
</html>
