
<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
    <%= csrf_meta_tags %> <!-- Rails CSRF protection -->
    <%= stylesheet_link_tag 'users', media: 'all' %> <!-- Include application-wide styles -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
</head>

  <body>



  <div class="login">
    <h2 class="hader">Sign Up</h2>

    <%= form_with(model: User.new, url: "/signup", method: "post") do |f| %>
      <% if flash[:alert] %>
        <div>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div>
        <span class="icon"><i class="fa fa-user"></i></span>
        <%= f.text_field :username, required: true, placeholder: "Username" %>
      </div>

      <div>
        <span class="icon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, required: true, placeholder: "Password" %>
      </div>

      <div>
        <span class="icon"><i class="fa fa-check"></i></span>
        <%= f.password_field :password_confirmation, required: true, placeholder: "Re-enter Password" %>
      </div>

      <div>
        <%= f.submit 'Sign Up'%>
      </div>

       <div>
    <a href="/login">Already Have an Account? Log In</a>
  </div>

    <% end %>
  </div>





















</body>
</html>
