<!DOCTYPE html>
<html lang="en">
<head>

    <%= stylesheet_link_tag "welcome" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby Site</title>
</head>


<header>
<%= image_tag 'print.png', alt: 'Print Image', class: 'imgPrint' %>
    <h1 class="hh2">ECHELON SURVEILLANCE</h1>

    <nav class="topButts">
        <a class="topNames" href="/">Home</a>
        <a class="topNames" href="/about">About</a>
        <a class="topNames" href="/services">Services</a>
        <a class="topNames" href="/contact">Contact</a>
    </nav>
    
    <div class="dropdown">
        <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
            <div class="dropdown-content" id="dropdown-content">
            <ul>
            <li><a href="/" class="topDrop">Home</a></li>
            <li><a href="/contact" class="topDrop">Contact</a></li>
            <li><a href="/about" class="topDrop">About</a></li>
            <li><a href="/services" class="topDrop">Services</a></li>
         <hr>
         <li><a href="/login" class="topDrop">Log In</a></li>
          <li><a href="/signup" class="topDrop">Sign Up</a></li>
         </ul>
            </div>
    </div>
    <div class="forms">
    <a class="signUp" href="/signup">Sign Up</a>
    
    <a class="logIn" href="/login">Log In</a>
    </div>
    
    <script>
    function toggleDropdown() {
        document.getElementById("dropdown-content").classList.toggle("show");
    }
    
    // Close the dropdown menu if the user clicks outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches('.dropbtn') && !event.target.closest('.dropdown-content')) {
            var dropdownContent = document.getElementById("dropdown-content");
            if (dropdownContent.classList.contains('show')) {
                dropdownContent.classList.remove('show');
            }
        }
    });
    </script>
    
    
</header>

<body class="bod">
    

    <h2 class="hh1">COMPREHENSIVE SECURITY TECHNOLOGIES</h2>

   

    <div class="grid-container">
    <div class="card">
    <%= image_tag 'pexels-psad-7508684.jpg', alt: 'Print Image', class: 'bodImg' %>
    <h2>SURVEILLANCE SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <%= image_tag 'homeAlarm.jpg', alt: 'Print Image', class: 'bodImg' %>
    <h2>ALARM SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <%= image_tag 'route.jpg', alt: 'Print Image', class: 'bodImg' %>
    
    <h2>NETWORKING SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <%= image_tag 'access-control-devices.jpg', alt: 'Print Image', class: 'bodImg' %>
    
    <h2>ACCESS CONTROL SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <%= image_tag 'smart.jpg', alt: 'Print Image', class: 'bodImg' %>
    <h2>SMART HOME SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <%= image_tag 'clover-pos-min.png', alt: 'Print Image', class: 'bodImg' %>
    <h2>REGISTER/ DATABASE SYSTEMS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
  <!--  <div class="card">
    <%= image_tag 'access-control-devices.jpg', alt: 'Print Image', class: 'imgPrint' %>
    <h2>Card 7</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <img src="image8.jpg" alt="Image 8">
    <h2>Card 8</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <img src="image9.jpg" alt="Image 9">
    <h2>Card 9</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <img src="image10.jpg" alt="Image 10">
    <h2>Card 10</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <img src="image11.jpg" alt="Image 11">
    <h2>Card 11</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>
    
    <div class="card">
    <img src="image12.jpg" alt="Image 12">
    <h2>Card 12</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Learn More</button>
    </div>-->
    
    </div>

    <footer class="foot">
        <p>&copy; 2024 ECHELON SURVEILLANCE</p>
    </footer>
</body>
</html>
